
@{
    ViewBag.Title = Model.Baslik;
}

@section head{
    <script src="~/Content/style/js/jQuery2.1.3.js"></script>

    <script>
        $(document).ready(function myfunction() {
            function Goruntulendi(id) {
                var link = "/Makale/Goruntulendi/" + id;
                $.ajax({
                    type: "GET",
                    url: link,
                    success: function myfunction() {

                    }
                });
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#postsilinecek").css("display", "none");
        });
    </script>
}

@model B403Blog.Models.EntityFramework.Makale

<div class="container-fluid pb-4 pt-4 paddding">
    <img src="@Model.Resim.BuyukBoyut" alt="" width="666" />
</div>
<div class="container-fluid pb-4 pt-4 paddding" style="width:1000px;">
    <div class="col-md-8 animate-box fadeInLeft animated-fast" data-animate-effect="fadeInLeft">
        @Html.Raw(Model.Icerik)
    </div>
</div>

