@model B403Blog.Models.EntityFramework.Kategori

@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Panel.cshtml";
}
<!--Client Side Validation-->
<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Kategori Ekle</h4>
    </div>
    <div class="card-body">
        <form action="/PanelKategori/Ekle" method="post" enctype="multipart/form-data">
            <table class="table table-bordered">
                <tr>
                    <th>Kategori Adı : </th>
                    <td> <input type="text" name="adi" class="form-control" value="" />@Html.ValidationMessageFor(m => m.Adi, "", new { @class = "text-danger" })
</td>

                </tr>
                <tr>
                    <th>Kategori İçeriği : </th>
                    
                    <td>  <textarea type="text" class="form-control" aria-label="With textarea" style="height:200px;" name="Aciklama" value=""> </textarea>@Html.ValidationMessageFor(m => m.Aciklama, "", new { @class = "text-danger" }) </td>

                </tr>
                <tr>
                    <td></td>
                    <th>
                        <input type="submit" name="name" class="btn btn-success btn-lg btn-block" style="width: 100%;padding:25px;" value="Kategori Ekle" />
                    </th>
                </tr>
            </table>

        </form>

    </div>
</div>




