
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Panel.cshtml";
}



<form action="/PanelKategori/Ekle" method="post" enctype="multipart/form-data">
    <table class="table table-bordered">
        <tr>
            <th>Kategori Adı : </th>
            <td> <input type="text" name="adi" class="form-control" value="" /></td>
        </tr>
        <tr>
            <th>Kategori İçeriği : </th>
            <td>  <textarea type="text" class="form-control" aria-label="With textarea" style="height:400px;" name="Aciklama" value=""></textarea> </td>
        </tr>
        <tr>
            <td></td>
            <th>
                <input type="submit" name="name" class="btn btn-success" style="width: 100%;padding:25px;" value="Kategori Ekle" />
            </th>
        </tr>
    </table>

</form>





