@{
    Layout = null;
}
@model IEnumerable<B403Blog.Models.EntityFramework.Ticket>

<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">@Model.Count()</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Ticket Merkezi
        </h6>
        <a class="dropdown-item text-center small text-gray-500" href="/TicketGonder/Index">Tüm Ticketları Göster</a>
    </div>



</li>
@foreach (B403Blog.Models.EntityFramework.Ticket tckt in Model)
{
<a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
        <div class="icon-circle bg-warning">
            <i class="fas fa-exclamation-triangle text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500">@tckt.GonderenAdi</div>
        @tckt.TicketAciklama
    </div>
</a>
}