<div class="sidebox widget">
    <h3 class="widget-title section-title" style="font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: 700;">YAZILIM KÖŞESİ</h3>
    <p>Yıllardır kendi deneyimlerini okuyucuya aktarmaya çalışan Full Stack Developerlar'ın diyarına hoşgeldiniz...</p>
    <ul class="social">
        <li><a href="#"><i class="icon-s-rss"></i></a></li>
        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
        <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
        <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
        <li><a href="#"><i class="icon-s-dribbble"></i></a></li>
        <li><a href="#"><i class="icon-s-flickr"></i></a></li>
    </ul>
    <div class="clearfix"></div>
</div>
