@using B403Blog.Models.EntityFramework

@model IEnumerable<B403Blog.Models.EntityFramework.Ticket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Panel.cshtml";
}
@helper IcerikKisalt(string icerik)
{
if (icerik.Length > 50)
{
        @icerik.Substring(0, 50);
    }
    else
    {
        @icerik;
    }
}
<script>
    $(document).ready(function () {
        $('#tblTicketlar').DataTable();
    });
</script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Ticket Listesi</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">


            <table class="table table-bordered" id="tblTicketlar">
                <thead>

                    <tr>
                        <th>Ticket Adı  </th>
                        <th>Ticket Açıklaması </th>
                        <th>Gönderen </th>
                        <th>Oku </th>
                        <th>Sil </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var tckt in Model)
                    {
                        <tr>
                            <td>@tckt.TicketKonu</td>
                            <td>@IcerikKisalt(tckt.TicketAciklama)...</td>
                            <td>@tckt.GonderenAdi</td>
                            <td> <a class="btn btn-warning" href="/PanelKategori/Guncelle/@tckt.TicketID">Oku</a></td>
                            <td> <a class="btn btn-danger" href="/PanelKategori/Sil/@tckt.TicketID">Sil</a></td>
                        </tr>
                    }
                </tbody>




            </table>
</div>
</div>
</div>