@model B403Blog.Models.EntityFramework.Ticket

@{
    ViewBag.Title = "TicketDetay";
    Layout = "~/Views/Shared/Panel.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary"> Konu : @Model.TicketKonu  - Gönderen : @Model.GonderenAdi</h4>
    </div>
    <div class="card-body">
        <h5>Ticket Açıklaması : </h5> <br />
        @Model.TicketAciklama


    </div>
</div>
